{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "sourceType": "module",
    "project": "tsconfig.eslint.json",
    "ecmaVersion": 2017
  },
  "plugins": ["functional", "@typescript-eslint"],
  "extends": [
    "prettier",
    "plugin:import/errors",
    "plugin:import/typescript",
    "plugin:@typescript-eslint/recommended-requiring-type-checking"
  ],
  "rules": {
    "no-const-assign": "error",
    "no-param-reassign": "error",
    "prefer-const": "error",
    "no-var": "error",
    "require-await": "error",
    "import/no-anonymous-default-export": "error",
    "import/no-default-export": "error",
    "import/dynamic-import-chunkname": "error",
    "import/order": ["error", { "newlines-between": "always", "alphabetize": { "order": "asc" } }],
    "import/no-duplicates": "error",
    "import/no-cycle": "error",
    "@typescript-eslint/no-unused-vars": "off",
    "@typescript-eslint/no-unsafe-return": "off",
    "@typescript-eslint/consistent-type-imports": "error",
    "functional/no-let": [
      "error",
      {
        "allowLocalMutation": true,
        "ignorePattern": "^mutable"
      }
    ],
    "functional/prefer-readonly-type": "error",
    "functional/no-this-expression": "error",
    "functional/no-loop-statement": "error"
  },
  "overrides": [
    {
      "files": ["src/validators/**.ts", "src/errors.ts"],
      "rules": {
        "functional/no-this-expression": 0
      }
    }
  ]
}
